In [2]:
%load_ext sql

ModuleNotFoundError: No module named 'sql'

In [7]:
%sql postgresql://postgre:Student@127.0.0.1/sparkifydb

UsageError: Line magic function `%sql` not found.

In [8]:
%sql SELECT * FROM songplays LIMIT 5;

UsageError: Line magic function `%sql` not found.

In [5]:
%sql SELECT count(*) FROM songplays;

UsageError: Line magic function `%sql` not found.

In [6]:
%sql SELECT * FROM users LIMIT 5;

UsageError: Line magic function `%sql` not found.

In [ ]:
%sql SELECT count(*) FROM users;

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, Decimal('218.93179')),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, Decimal('148.03546')),
 ('SOXVLOJ12AB0189215', 'Amor De Cabaret', 'ARKRRTF1187B9984DA', 0, Decimal('177.47546')),
 ('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, Decimal('233.40363')),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, Decimal('209.60608'))]

In [ ]:
%sql SELECT count(*) FROM songs;

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[('ARD842G1187B997376', 'Blue Rodeo', 'Toronto, Ontario, Canada', Decimal('43.64856'), Decimal('-79.38533')),
 ('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', Decimal('35.14968'), Decimal('-90.04892')),
 ('ARKRRTF1187B9984DA', 'Sonora Santanera', '', Decimal('NaN'), Decimal('NaN')),
 ('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', Decimal('NaN'), Decimal('NaN')),
 ('ARXR32B1187FB57099', 'Gob', '', Decimal('NaN'), Decimal('NaN'))]

In [ ]:
%sql SELECT count(*) FROM artists;

In [7]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[(1541106106796, 21, 1, 44, 11, 2018, 'Thursday'),
 (1541106352796, 21, 1, 44, 11, 2018, 'Thursday'),
 (1541106496796, 21, 1, 44, 11, 2018, 'Thursday'),
 (1541106673796, 21, 1, 44, 11, 2018, 'Thursday'),
 (1541107053796, 21, 1, 44, 11, 2018, 'Thursday')]

In [ ]:
%sql SELECT count(*) FROM time

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).